@use '../abstracts' as *;

.article {
    background-color: clr(neutral, lightest);
    border-radius: 0.3125rem;
    overflow: hidden;
}

.article-img {
    object-fit: cover;
    aspect-ratio: 16/13;
    block-size: auto;
    inline-size: 100%;
}

.article-content {
    padding: 1.5rem;
}

.article-author {
    font-size: $fs-1;
    line-height: 1.8;
}

.article-title {
    font-size: $fs-6;
    line-height: 1.25;
    margin-block: 0.5rem;
}

.article-snippet {
    font-size: $fs-2;
    line-height: 1.3846;
}

