@use '../abstracts' as *;

%btn {
    --p-btn-font-size: #{$fs-3};
    --p-btn-font-weight: #{$fw-bold};
    --p-btn-border-radius: 100vw;
    --p-btn-padding: .5714em 2.3571em;

    display: inline-flex;
    font-size: var(--p-btn-font-size);
    font-weight: var(--p-btn-font-weight);
    line-height: 2;
    padding: var(--p-btn-padding);
    border-radius: var(--p-btn-border-radius);

    &:hover,
    &:focus-visible {
        transform: scale(0.98);
    }

    &:focus-visible {
        @include outline(clr(primary));
    }

    @supports not selector(:focus-visible) {
        &:focus {
            @include outline(clr(primary));
        }
    }
}

.btn-gradient-400 {
    @extend %btn;
    background: $gradient-400;
    color: clr(neutral, lightest);
}

