@use '../abstracts' as *;

.socials {
    display: flex;

    @media #{$break1} {
        gap: 1rem;
    }

    @media #{$break2open} {
        gap: 0.8125rem;
    }
}

.socials-item-icon {
    /* layout specific style - footer */
    #footer & {
        @media #{$break1} {
            font-size: 1.5rem;
        }
        @media #{$break2open} {
            font-size: 1.25rem
        }
    }
}

// .socials-item-icon:hover {
//     &::before {
//         color: clr(secondary);
//     }
// }

.socials-item-link:hover .socials-item-icon::before,
.socials-item-link:focus-visible .socials-item-icon::before {
    color: clr(secondary);
}