.u-flex {
    display: flex;
}

.u-gap-18 {
    gap: 1.125rem;
}

.u-cross-center {
    align-items: center;
}

.u-main-child-end {
    justify-self: end;
}

.u-flex-wrap {
    flex-wrap: wrap;
}

.u-width-full-line {
    inline-size: 100%;
}

