@use '../abstracts' as *;

%btn {
    --p-btn-font-size: $fs-1;
    --p-btn-padding-block: 0.9333em;
    --p-btn-max-block-size: 3.3125rem;
    --p-btn-max-inline-size: 11.25rem;
    --p-btn-font-family: #{$ff-secondary};

    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--p-btn-font-family);
    font-size: var(--p-btn-font-size);
    line-height: 1.666;
    padding-block: var(--p-btn-padding-block);
    max-block-size: var(--p-btn-max-block-size);
    max-inline-size: var(--p-btn-max-inline-size);
    inline-size: 100%;

    &:hover,
    &:focus-visible {
        background-color: transparent;
        border: 0.1875rem solid;
        transform: scale(0.98);
    }
}

.btn-secondary {
    @extend %btn;
    --p-btn-bg-color: #{clr(secondary)};
    --p-btn-text-color: #{clr(neutral, lightest)};
    --p-btn-state-color: #{clr(secondary)}; 
    background-color: var(--p-btn-bg-color);
    color: var(--p-btn-text-color);

    &:hover,
    &:focus-visible {
        border-color: var(--p-btn-state-color);
        color: var(--p-btn-state-color);
    }
}

.btn-primary {
    @extend %btn;
    background-color: clr(primary);
}