@use 'variables' as *;

@mixin text-underline($color, $size, $width, $distance) {
    content: '';
    block-size: $size;
    inline-size: $width;
    bottom: $distance;
    background: $color;
    position: absolute;
}