:root {

    /* colors */
    --clr-primary-400: 273, 85%, 13%;
    --clr-secondary-400: 150, 100%, 63%;

    --clr-neutral-100: 0, 0%, 100%;
    --clr-neutral-300: 276, 100%, 99%;
    --clr-neutral-600: 271, 12%, 34%;

    /* typography */
    --ff-primary: 'Manrope', sans-serif;
    --ff-secondary: 'Fraunces', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-secondary);

    --fs-1: 1rem;     // 16px
    --fs-2: 1.125rem; // 18px
    --fs-3: 1.75rem;  // 28px
    --fs-4: 2rem;     // 32px
    --fs-5: 3.125rem; // 50px
    --fs-6: 3.5rem;   // 56px
    --fs-7: 3.75rem;  // 60px
    --fs-8: 5rem;;    // 80px

    --fs-body-1: var(--fs-1);
    --fs-body-2: var(--fs-2);
}

/* breakpoints */
$break1: "(max-width:767.99px)";
$break2: "(min-width:768px) and (max-width:1198.99px)";
$break2open: "(min-width:768px)";
$break3open: "(min-width:1199px)";