@use '../abstracts' as *;

#features {
    @media #{$break1} {
        padding-block: 5rem;
    }
    @media #{$break2open} {
        padding-block: $size-120;
    }   
}

.l-features {
    display: grid;
    @media #{$break1} {
        gap: 3.5rem;
    }
    @media #{$break2} {
        gap: 5rem;
    }
    @media #{$break3open} {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.875rem;
    }
}

.features-item {
    display: grid;
    text-align: center;
    grid-auto-rows: 7.5rem auto;
    max-inline-size: pxToRem(457);

    @media #{$break1}, #{$break2} { margin-inline: auto; }

    &-icon { margin-inline: auto; }
    &-text > h2 { margin-block-end: 1rem; }
}

.features-item:nth-child(2) .features-item-icon {
    margin-block-start: 1.125rem;
}



