@use '../abstracts' as *;

#gallery {
    display: grid;

    @media #{$break3open} {
        grid-template-columns: repeat(4, 1fr);
    }

    @media #{$break2} {
        grid-template-columns: repeat(2, 1fr);
    }
}

