@use '../../abstracts' as *;

#map {
    @include sectionMarginBlockEnd($mobile: 4.5rem, $tablet: 4rem);
}

.l-map {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.map-img {
    width: 100%;
    display: block;

    @media #{$break1} {
        margin-block-end: 2.5rem;
    }
}