@use '../../abstracts' as *;

.masthead {
    position: relative;
    isolation: isolate;
    @media #{$break1} {
        padding-block: 3.75rem;
    }
    @media #{$break2open} {
        padding-block: 4.5rem;
    }

    &-bg {
        position: absolute;
        inset: 0;
        z-index: -1;
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: clr(primary, dark, 0.5);
        }

        &-img {
            min-inline-size: 100%;
            min-block-size: 100%;
            object-fit: cover;
        }
    }
}

#masthead-title {
    color: clr(neutral, lightest);
    @media #{$break1} {
        text-align: center;
    }
}

.l-masthead {
    position: relative;

    @media #{$break2open} {
        &::after {
            content: url('../../assets/patterns/white-circles.svg');
            position: absolute;
            top: 0;
            right: -9em;
        }
    }

}

