@use '../../abstracts' as *;

#compare {
    @include sectionMarginBlockEnd($size-64, 7rem, $size-160);
}


.compare-table {
    margin-inline: auto;
    max-inline-size: pxToRem(731);
    inline-size: 100%;
    white-space: nowrap;

    tr > th:not(:first-child),
    tr > td:not(:first-child) {
        @media #{$break2open} {
            text-align: center;
        }
    }

    thead tr {
        border-bottom: 0.0625rem solid clr(neutral, darkest);
        padding-bottom: 1.4375rem;
    }

    tbody tr {
        border-bottom: 0.0625rem solid clr(neutral);

        &:first-child {
            @media #{$break1} {
                padding-block: 1.4375rem 1.5rem;
            }
            @media #{$break2open} {
                padding-block: 1.4375rem 1.46875rem;
            }
        }
    }

    tr {    
        display: grid;

        &:not(:first-of-type) {
            @media #{$break1} {
                padding-block: 1.46875rem 1.5rem;
            }
            @media #{$break2open} {
                padding-block: 1.46875rem;
            }
        }

        @media #{$break1} {
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);

            & > td:first-child {
                grid-column: span 3;
            }

            & > td:not(:first-child) {
                display: flex;
                gap: 0.5rem;
                flex-direction: column;
                
                &::before {
                    font-size: $fs-8;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: clr(neutral, darkest, 0.5);
                    letter-spacing: 0.16666em;
                }
            
            }

            & > td:nth-child(2)::before {
                content: 'basic';
            }
            & > td:nth-child(3)::before {
                content: 'pro';
            }
            & > td:nth-child(4)::before {
                content: 'business';
            }
        }

        @media #{$break2open} {
            grid-template-columns: 2fr 1fr 1fr 1fr;
        }
    }

    th:not(:first-child) {
        @media #{$break1} {
            display: none;
        }
    }
}

