@use '../../abstracts' as *;

#plans {
    @include sectionMarginBlockEnd($size-64, 7rem, $size-160);
}

.pricing {
    display: flex;

    @media #{$break1}, #{$break2} {
        flex-direction: column;
        gap: 1.25rem;
    }

    @media #{$break3open} {
        gap: 1.875rem;
        align-items: center;
    }
}

.pricing-card {
    display: grid;
    padding-inline: 2.5rem;
    position: relative;

    @media #{$break1}, #{$break3open} {
        row-gap: 2.5rem;
    }

    @media #{$break2} {
        grid-template-columns: 1fr 1.25fr;
        row-gap: 2rem;
    }

    @media #{$break2open} {
        padding: 2.5rem;
    }
    
    &:not(:nth-child(2)) {
        background-color: hsl(0, 0%, 96%);
        @media #{$break1}, #{$break3open} {
            padding-block: 3.5rem 2.5rem;
        }
    }

    &:nth-child(2) {
        background-color: clr(neutral, darkest);
        color: clr(neutral, lightest);

        @media #{$break1} {
            padding-block: 3rem;
        }
        @media #{$break3open} {
            padding-block: 5.5rem 4.5rem;
        }
    }
}

.plans-mo-yr {
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translateX(-54%);
    gap: 2rem;

    @media #{$break1},
    #{$break2} {
        margin-block-end: 2.5rem;
    }

    @media #{$break3open} {
        margin-block-end: 3rem;
    }
}

.plans-monthly { order: -1; }

#plans-toggle {

    & ~ .plans-monthly {
        color: clr(neutral, darkest);
    }
    & ~ .plans-yearly {
        color: clr(neutral, darkest, 0.5);
    }

    &:checked {

        & ~ .plans-monthly {
            color: clr(neutral, darkest, 0.5);
        }
        & ~ .plans-yearly {
            color: clr(neutral, darkest);
        }

    }

}

.pricing-card-header {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;

    @media #{$break1}, #{$break3open} {
        text-align: center;
    }
}


.pricing-card-cost[data-active="false"] {
    display: none;
}

.pricing-card-cost[data-active="true"] {
    display: flex;
    flex-direction: column;

    @media #{$break2} {
        text-align: right;
    }
    @media #{$break1}, #{$break3open} {
        text-align: center;
    }
}