@use '../abstracts' as *;

%link {
    display: inline-block;
    font-size: var(--fs-2);
    font-weight: var(--fw-bold);
    line-height: 1.777;
}

.link-neutral-100 {
    @extend %link;
    --clr-accent: hsl(var(--clr-secondary-400));

    color: hsl(var(--clr-neutral-100));
    border-bottom: 3px solid var(--clr-accent);

    &:hover {
        color: var(--clr-accent);
    }
}