@use '../abstracts' as *;

.numbered-item {
    display: flex;

    @media #{$break1} {
        text-align: center;
        flex-direction: column;
        gap: 1.5rem;
    }

    @media #{$break2} {
        align-items: center;
        gap: 2rem;
    }
    
    @media #{$break2open} {
        max-inline-size: pxToRem(500);
    }

    @media #{$break3open} {
        flex-direction: column;
        text-align: center;
        gap: 3.5rem;
    }
}


.numbered-item::before {
    counter-increment: numbered-items;
    content: counter(numbered-items);
    font-family: var(--ff-heading);
    font-size: 1.25rem;
    inline-size: pxToRem(48);
    block-size: pxToRem(48);
    border-radius: 50%;
    border: 1px solid hsl(var(--clr-neutral-600));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    @media #{$break1}, #{$break3open} {
        margin-inline: auto;
    }
}