@use '../abstracts' as *;

.spacer-curve {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 5;
}

.spacer-curve svg {
    position: relative;
    display: block;
    width: 120%;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
}

.spacer-curve .shape-fill {
    fill: hsl(var(--clr-primary-400));
}