@use '../abstracts' as *;

%btn {
    display: inline-flex;
    justify-content: center;
    font-size: $fs-7;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16666em;
    padding: 1em 2em;

    &:focus-visible {
        outline-offset: 0.25rem;
        outline-width: 0.0625rem;
        outline-style: solid;
    }
 }

.btn-primary {
    @extend %btn;
    background-color: clr(neutral, darkest);
    color: clr(neutral, lightest);

    &:hover,
    &:focus-visible {
        background-color: clr(neutral);
        color: clr(neutral, darkest);
    }

    &:focus-visible {
        outline-color: clr(neutral, darkest);
    }
}

.btn-secondary {
    @extend %btn;
    background-color: clr(neutral, lightest);
    color: clr(neutral, darkest);

    &:hover,
    &:focus-visible {
        background-color: clr(neutral);
    }

    &:focus-visible {
        outline-color: clr(neutral);
    }
}