@use '../abstracts' as *;

%overlay::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: clr(neutral, darkest);
}

.overlay-visible::before {
    @extend %overlay;
    z-index: 100;
    opacity: 0.5;
}