@use '../abstracts' as *;

.address {

    @media #{$break1},
    #{$break2} {
        margin-block-end: 1.25rem;
    }

    @media #{$break3open} {
        margin-block-end: 2rem;
    }
}

/* layout specific styles */
.location .address-street {
    display: inline-block;
    color: clr(primary);

    @media #{$break1} {
        margin-block-start: 3rem;
    }

    @media #{$break1}, #{$break2} {
        margin-block-end: 1.25rem;
    }

    @media #{$break3open} {
         margin-block-end: 1.5rem;
    }
}

/* layout specific styles */
.location .address-line {
    display: block;
    
    & > span {
        display: block;
    }

}