@use '../abstracts' as *;

%btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: $ff-secondary;
    font-size: $fs-btn;
    font-weight: $fw-bold;
    line-height: 1.2;
    cursor: pointer;
    letter-spacing: 3.6366px;
    text-transform: uppercase;
}

%btn-default {
    @extend %btn;
    padding: 1.5rem 2rem;
}

.btn-primary-icon {
    @extend %btn;
    background-color: clr(neutral, dark);
    color: clr(neutral, light);
}

.btn-text {
    display: inline-block;
    padding-inline: 32px;
}

.btn-icon-wrapper {
    background-color: clr(primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}