@use '../abstracts/config' as *;

.even-columns {
    display: flex;

    @media #{$break1} {
        flex-direction: column;
        gap: 2.5rem;
    }

    @media #{$break2open} {
        gap: 2rem;
    }

    & > * {
        width: 100%;
    }
}

