@use '../abstracts' as *;

body {
    font-family: $ff-body;
    font-weight: $fw-light;
    color: clr(neutral);

    @media #{$break1}, #{$break2} {
        font-size: $fs-body-1;
        line-height: 1.55555;
    }

    @media #{$break3open} {
        font-size: $fs-body-2;
        line-height: 1.454545;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $ff-heading;
    font-weight: $fw-black;
    text-transform: uppercase;
}

.heading-1 {
    @media #{$break1} {
        font-size: $fs-6;
        line-height: 0.9166;
    }
    @media #{$break2} {
        font-size: $fs-7;
        line-height: 0.92857;
    }
    @media #{$break3open} {
        font-size: $fs-8;
        line-height: 0.9166;
    }   
}