@use '../abstracts' as *;

/* margins */
.u-margin-block-end-156 { margin-block-end: pxToRem(156); }
.u-margin-block-end-110 { margin-block-end: pxToRem(110); }

/* background-colors */
.u-bg-neutral-300 { background-color: hsl(var(--clr-neutral-300)); }
