$clr-primary-400: hsl(216, 17%, 35%);   // Navy
$clr-primary-500: hsl(223, 31%, 27%);   // Dark Navy
$clr-primary-600: hsl(215, 14%, 23%);   // Darker Navy

$clr-secondary-200: hsl(39, 100%, 94%); // Light Yelow
$clr-secondary-400: hsl(40, 97%, 58%);  // Yelow

$clr-neutral-100: hsl(0, 0%, 100%);     // White
$clr-neutral-200: hsl(214, 37%, 96%);   // Snow
$clr-neutral-300: hsl(212, 41%, 93%);   // Light Grey
$clr-neutral-400: hsl(217, 12%, 62%);   // Dim Grey

$colors: (
    primary: (
        base: $clr-primary-400,
        dark: $clr-primary-500,
        darker: $clr-primary-600,
        ), 
    secondary: (
        base: $clr-secondary-400,
        ), 
    neutral: (
        lightest: $clr-neutral-100, 
        lighter: $clr-neutral-200, 
        light: $clr-neutral-300, 
        base: $clr-neutral-400,
        )
    );

// functions 
@function clr($base, $shade: base, $a: 1) {
    $rgb: map-get(map-get($colors, $base), $shade);
    @return rgba($rgb, $a);
}