@use '../abstracts' as *;

.container {
    --p-container-max-inline-size: 1110px;
    
    max-inline-size: var(--p-container-max-inline-size);
    margin-inline: auto;

    @media #{$break1} {
        @include containerSize(1.5rem);
    }
    @media #{$break2open} {
        @include containerSize(4rem);
    }
    

}