@use '../abstracts' as *;

#footer {
    color: clr(neutral, lightest);

    @media #{$break1} {
        padding-block: 2.5rem;
    }

    @media #{$break2open} {
        padding-block: 3rem;
    }
}


.l-footer {
    display: grid;

    @media #{$break1} {
        justify-content: center;
        gap: 2rem;

        &>* {
            margin-inline: auto;
        }
    }

    @media #{$break2open} {
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 1.5rem;
    }
}


.footer-links {
    display: grid;
    font-size: $fs-3;
    line-height: 1.7333;
    grid-auto-rows: min-content;
    gap: 0.5rem;

    @media #{$break1} {
        &-item {
            text-align: center;
        }
    }

    @media #{$break2open} {
        grid-template-columns: repeat(2, 10em);

        grid-column: 2 / 3;
        grid-row: 1 / 3;
        justify-self: start;
    }

}

.footer-socials {
    @media #{$break2open} {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }


}

.footer-copywrite {
    opacity: 0.5;
    @media #{$break2open} {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        text-align: right;
        font-size: $fs-4;
        line-height: 1.7333;
    }


}

.footer-btn {
    @media #{$break2open} {
        max-inline-size: max-content;
        justify-self: end;
    }
}