@use '../abstracts' as *;

.grid-cols-4 {
    display: grid;
    @media #{$break1}, #{$break2} {
        gap: 2rem;
    }
    @media #{$break2} {
        grid-template-columns: repeat(2, 1fr);
    }
    @media #{$break3open} {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.875rem;
    }
}