@use '../abstracts' as *;

.site-nav {
    display: flex;

    @media #{$break1}, #{$break2} {
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        padding-block: 2rem;
        position: absolute;
        z-index: 5;
        background-color: clr(neutral, lightest);
        width: 100%;
        border-radius: $border-radius-sm;
        top: 4rem;
    }

    @media #{$break3open} {
        gap: 1.75rem;
    }
}
