@use '../abstracts' as *;

.w-container {
    --container-max-width: 1110px;
    max-inline-size: var(--container-max-width);
    margin-inline: auto;

    @media #{$break1} {
        --container-margin: 1rem;
        width: calc(100% - (var(--container-margin) * 2));
    }

    @media #{$break2} {
        --container-margin: 2.5rem;
        width: calc(100% - (var(--container-margin) * 2));
    }

    @media #{$break3open} {
        --container-margin: 4rem;
        width: calc(100% - (var(--container-margin) * 2));
    }
}