@use '../abstracts' as *;

.site-footer {
    display: grid;   
    justify-content: center;
    gap: 3.5rem;

    @media #{$break1} {
        padding-block-end: 3.8rem;
    }
    @media #{$break2} {
        padding-block-end: 7.5rem;
    }
    @media #{$break3open} {
        padding-block-end: 6.875rem;
    }

    &-logo {
        justify-self: center;
    }
}