@use '../abstracts' as *;

.site-footer {
    background: clr(neutral, dark);
    color: clr(neutral, light);

    @media #{$break1} {
        padding-block: 3rem;
    }
    @media #{$break2} {
        padding-block: 3.5rem;
    }
    @media #{$break3open} {
        padding-block: 5rem;
    }
}