@use '../abstracts' as *;

.grid-home {
    display: grid;

    @media #{$break1} {
        gap: 1rem;
    }

    @media #{$break2open} {
        grid-template-columns: repeat(12, 1fr);
        gap: pxToRem(11);
        grid-template-areas: 
        "c-1 c-1 c-1 c-1  c-1 i-1 i-1 i-1  i-1 i-1 i-1 i-1"
        "i-2 i-2 i-2 i-2  i-2 i-2 i-2 i-3  i-3 i-3 i-3 i-3"
        "i-2 i-2 i-2 i-2  i-2 i-2 i-2 c-2  c-2 c-2 c-2 c-2";
    }
    
    @media #{$break3open} {
        gap: pxToRem(30);
    }

}

@media #{$break2open} {
    .grid-home-item-1 {
        grid-area: c-1;
    }
    .grid-home-item-2 {
        grid-area: i-1;
    }
    .grid-home-item-3 {
        grid-area: i-2;
    }
    .grid-home-item-4 {
        grid-area: i-3;
    }
    .grid-home-item-5 {
        grid-area: c-2;
    }
}

.grid-home img {
    display: block;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

/* grid-1-1 */
.grid-1-1 {
    display: grid;
    
    @media #{$break2open} {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* grid-1-2-1 */
.grid-1-2-1 {
    display: grid;

    @media #{$break2open} {
        grid-template-columns: 1fr 2fr 1fr;
    }
}


// LAYOUT SPECIFIC STYLES
.site-footer .grid-1-2-1 {
    @media #{$break1} {
        gap: pxToRem(38);
    }
}



