@use '../abstracts' as *;

.hero {
    position: relative;

    @media #{$break3open} {
        &::before {
            content: '';
            position: absolute;
            inset: 0 50% 0 0;
            z-index: -5;
            background-color: clr(neutral, dark);
        }
    }
}

.hero-container {
    min-block-size: pxToRem(700);
    display: flex;

    @media #{$break1} {
        flex-direction: column;
    }
    @media #{$break2} {
        align-items: center;
        justify-content: end;

    }
    @media #{$break3open} {
        align-items: center;
    }
}


.hero-img {
    @media #{$break1} {
        inline-size: 100vw;
        max-inline-size: 100vw;
        display: block;
        margin: 0 calc(50% - 50vw) 2rem;
    }
    @media #{$break2}, #{$break3open} {
        position: absolute;
        z-index: -1;
        top: 0;
    }
    @media #{$break2} {
        left: 0;
    }
    @media #{$break3open} {
        left: 50%;
        transform: translateX(-50%);
    }
}


.hero-text {

    @media #{$break1} {
        .hero-description {
            padding-block: 2rem;
        }
    }

    @media #{$break2} {
        max-inline-size: pxToRem(340);

        .hero-description {
            padding-block: 3rem;
        }
    }

    @media #{$break3open} {
        display: flex;
        justify-content: space-between;
        inline-size: 100%;

        .hero-title {
            mix-blend-mode: difference;
            color: clr(neutral, light);
        }
        .hero-text-content {
            max-inline-size: pxToRem(350);
        }
        .hero-description {
            padding-block-end: 4rem;
        }
    }
}