.u-max-block-size-650 {
    max-block-size: 650px;
}
.u-max-block-size-600 {
    max-block-size: 600px;
}
.u-max-block-size-490 {
    max-block-size: 490px;
}
.u-overflow-y-hidden {
    overflow-y: hidden;
}